{% extends 'base.html' %}
{% block pro %}
{% load static %}

<style>
  body{
    background-color: rgb(243, 243, 243);
  }
  #head4{
    font-size: 1.6rem;
    font-weight: 500;
  }
  .img-top{
    object-fit: cover;
    width: 100%;
  }
  .card{
    height: 400px;
    border-radius: 10px;
  }
  .card img{
    border-radius: 10px;
  }
  h5{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
  }
  .cont{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    background-color: rgb(251, 251, 251);
  }
  h2{
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 60px;
  }
  .cont::-webkit-scrollbar{
    display: none;
  }

</style>

<div class="container-fluid">
  <div class="row">
    <h2>Anime</h2>
  </div>
<div class="container-fluid cont">
    {% for i in catdata %}
    <div class="col-lg-4 col-md-6 col-sm-12"> 
      <div class="card">
        <a href="{% url 'readmore' i.id %}"><img class="img-top" src="{{i.image.url}}" alt="Card image cap" height="400px"></a>
         <!-- class="btn btn-danger btn-01">show More</a> -->
        <!-- <div class="card-body"> -->
          <h5 class="card-title">{{i.heading | title}}</h5>
          <!-- <h6 class="card-text">{{i.tag}}</h6> -->
          <!-- <p class="card-text">{{i.desc | title|safe|striptags|truncatechars:30}}</p> -->
          <!-- <a href="{% url 'readmore' i.id %}" class="btn btn-danger btn-01">show More</a> -->
        <!-- </div> -->
      </div>
      <br>
      
    </div>
    {% endfor %}
  
</div>
</div>
  <br>
<div class="container-fluid">
    <div class="row">
      <h2>Food</h2>
    </div>
    <div class="container-fluid cont">
      {% for i in catdata1 %}
      <div class="col-lg-4 col-md-6 col-sm-12"> 
        <div class="card">
          <a href="{% url 'readmore' i.id %}"><img class="img-top" src="{{i.image.url}}" alt="Card image cap" height="400px"></a>
           <!-- class="btn btn-danger btn-01">show More</a> -->
          <!-- <div class="card-body"> -->
            <h5 class="card-title">{{i.heading | title}}</h5>
            <!-- <h6 class="card-text">{{i.tag}}</h6> -->
            <!-- <p class="card-text">{{i.desc | title|safe|striptags|truncatechars:30}}</p> -->
            <!-- <a href="{% url 'readmore' i.id %}" class="btn btn-danger btn-01">show More</a> -->
          <!-- </div> -->
        </div>
        <br>
        
      </div>
      {% endfor %}
    
  </div>
</div>
  <br>
<div class="container-fluid">
    <div class="row">
      <h2>Nature</h2>
    </div>
    <div class="container-fluid cont">
      {% for i in catdata2 %}
      <div class="col-lg-4 col-md-6 col-sm-12"> 
        <div class="card">
          <a href="{% url 'readmore' i.id %}"><img class="img-top" src="{{i.image.url}}" alt="Card image cap" height="400px"></a>
           <!-- class="btn btn-danger btn-01">show More</a> -->
          <!-- <div class="card-body"> -->
            <h5 class="card-title">{{i.heading | title}}</h5>
            <!-- <h6 class="card-text">{{i.tag}}</h6> -->
            <!-- <p class="card-text">{{i.desc | title|safe|striptags|truncatechars:30}}</p> -->
            <!-- <a href="{% url 'readmore' i.id %}" class="btn btn-danger btn-01">show More</a> -->
          <!-- </div> -->
        </div>
        <br>
        
      </div>
      {% endfor %}
    
  </div>
</div>
  <br>
<div class="container-fluid">
    <div class="row">
      <h2>Tour & Travel</h2>
    </div>
    <div class="container-fluid cont">
      {% for i in catdata3 %}
      <div class="col-lg-4 col-md-6 col-sm-12"> 
        <div class="card">
          <a href="{% url 'readmore' i.id %}"><img class="img-top" src="{{i.image.url}}" alt="Card image cap" height="400px"></a>
           <!-- class="btn btn-danger btn-01">show More</a> -->
          <!-- <div class="card-body"> -->
            <h5 class="card-title">{{i.heading | title}}</h5>
            <!-- <h6 class="card-text">{{i.tag}}</h6> -->
            <!-- <p class="card-text">{{i.desc | title|safe|striptags|truncatechars:30}}</p> -->
            <!-- <a href="{% url 'readmore' i.id %}" class="btn btn-danger btn-01">show More</a> -->
          <!-- </div> -->
        </div>
        <br>
        
      </div>
      {% endfor %}
    
  </div>
</div>
{% endblock %}